@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  letter-spacing: 1pt;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#eaeaff 50%, #6526c9 50%);
}

.wrapper {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.sortable {
  background-color: #5654bd;
  padding: 10px;
  color: white;
}