* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  background-color: #fff;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
}

header h1 {
  font-size: 21px;
  margin-bottom: 10px;
}

header p {
  margin-bottom: 1rem;
}

.inputs input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #999
}

.inputs input:focus {
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.inputs button {
  opacity: 0.5;
  width: 100%;
  padding: 10px;
  background-color: skyblue;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  pointer-events: none;
}

.inputs button.active {
  opacity: 1;
  pointer-events: auto;
}

.info-txt {
  display: none;
}

.info-txt span {
  color: skyblue;
}